<h1>(yashiki89.)</h1>
<h3>mybaseball</h3>
<%= form_for @tweet do |f| %>

    <div class="field">
    <%= f.label :項目名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :項目名  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>

  <%= f.submit "投稿する" %>
  <% end %>
  
  <%= link_to "一覧に戻る", tweets_path %>
